@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Source+Sans+Pro');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Colors */
.bg-transparent {
  background-color: transparent;
}

/* Unilan Base Page */
.unilan-base {
  display: none;
  animation: fadeEffect 2s;
  transition: 1s;
  background-color: #111111;
}

@keyframes fadeEffect {
  from {margin-left: -100vw;}
  to {margin-left: 0;}
}

/* Button Style */
.custom-full-btn {
  color: #d6d6d6;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 10px 15px 10px 15px;
  background-color: #333;
  border: 3px solid #0488d3;
  border-radius: 0px;
  margin: 20px;
}

.custom-full-btn:hover {
  color: #0488d3;
  background-color: #333;
}

.custom-full-btn:focus, .custom-full-btn.focus {
  box-shadow: 0 0 0 0.2rem #333;
}


/* HomePage */
.unilan-homepage-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background-image: -webkit-linear-gradient(to bottom right, #0488d3, #0488d3 50%, transparent 50%, transparent); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(to bottom right, #0488d3, #0488d3 50%, transparent 50%, transparent); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(to bottom right, #0488d3, #0488d3 50%, transparent 50%, transparent); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to bottom right, #0488d3, #0488d3 50%, transparent 50%, transparent); /* Standard syntax; must be last */
}

.unilan-homepage-header .navbar-custom {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 100;
  z-index: 2;
  padding: 5px 40px;
}

.unilan-homepage-header .navbar-custom a {
  color: white;
  border-bottom: 2px solid transparent;
}

.unilan-homepage-header .navbar-custom .navbar-brand:hover {
  border-bottom: 2px solid transparent;
}

.unilan-homepage-header .navbar-custom .navbar-brand img {
  width: 80px;
}

.unilan-homepage-header .navbar-custom a:hover {
  border-bottom: 2px solid #ffffff;
}

.unilan-homepage-header .navbar-custom a.nav-link.active {
  border-bottom: 2px solid #ffffff;
}

.unilan-homepage-intro {
  background-image: url('../img/home.jpg');
  background-repeat: no-repeat;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  width: 100%;
  height: 100vh;
  border-bottom: 10px solid #111111;
}

.unilan-homepage-header-text {
  padding: 40px 20px 0px 0px;
}

.unilan-homepage-author {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;

  background-color: #151515;
  color: #aaaaaa;

  font-size: 0.7rem;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: none;
}

/* Sondage Style */
.unilan-sondage {
  background-color: #444;
  color: white;
  min-height: 100vh;
  padding: 200px 0px 0px 100px;
}

.unilan-sondage-title {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  padding: 20px;
}

.unilan-sondage-checkboxes {
  border: 5px solid #0488d3;
  background-color: #333333;
  padding: 15px 5px;
  margin: 10px 0px 0px 0px;
  font-size: 1.1rem;
}

/* Forms Styles */
.custom-form-big .form-control {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #d6d6d6;
  background-color: #333333;
  background-clip: padding-box;
  border: 5px solid #0488d3;
  border-radius: 0rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-form-big .form-control:focus {
  color: #d6d6d6;
  background-color: #333333;
  border-color: #0488d3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(68, 68, 68, 0.251);
}

.custom-form-big .custom-full-btn {
  width: 100%;
  color: #d6d6d6;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 10px 15px 10px 15px;
  background-color: #333;
  border: 5px solid #0488d3;
  border-radius: 0px;
  margin: 10px 5px;
}

.custom-form-big .custom-full-btn:hover {
  color: #0488d3;
  background-color: #333;
}

.custom-form-big .custom-full-btn:focus, .custom-full-btn.focus {
  box-shadow: 0 0 0 0.2rem #333;
}

/* Participer Style */
#unilan-tournament {
  padding-top: 200px;
  min-height: 100vh;
  color: white;
  background-color: #444;
}

.unilan-tournament-item {
  background-color: #333;
  border: 5px solid #0488d3;
  margin: 30px 0px;
  padding: 0px;
}

#unilan-tournament h1 {
  background-color: #353535;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 10px 20px;
}

#unilan-tournament  .unilan-tournament-separator {
  font-weight: 700;
  background-color: transparent;
  color: white;
  padding-left: 0px;
}

#unilan-tournament h4 {
  background-color: #353535;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px 0px 20px 20px;
  border-bottom: 5px solid #0488d3;
}

#unilan-tournament h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0px 10px 20px 10px;
}

#unilan-tournament .player-box {
  display: inline-block;
  font-weight: 700;
  outline: 2px solid #555555;
  border-left: 5px solid whitesmoke;
  background-color: #333;
  padding: 10px 20px;
  margin: 10px;
}

#unilan-tournament .player-box-winner {
  display: inline-block;
  font-weight: 700;
  border: 2px solid #daa520;
  background-color: #333;
  padding: 10px 20px;
  margin: 10px;
}

#unilan-tournament .game-box {
  display: inline-block;
  font-weight: 700;
  outline: 2px solid #555555;
  border-left: 5px solid #0488d3;
  background-color: #333;
  padding: 10px 20px;
  margin: 10px;
}

.unilan-tournament-player-boxes {
  padding: 20px;
}

.unilan-tournament-game-boxes {
  padding: 20px;
}

.unilan-tournament-register {
  border-top: 5px solid #333;
  padding: 20px
}

#unilan-tournament .custom-form-big .custom-full-btn {
  margin: 10px 0px;
}

/* leaderboard-css */
#unilan-leaderboard {
  min-height: 100vh;
  padding-top: 200px;
  background-color: #333;
  color: white;
}

.unilan-leaderboard-maintitle {
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  margin-bottom: 30px;
  font-size: 3rem;
  text-transform: uppercase;
}

.unilan-leaderboard-wrapper {
  width: 100%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px 0px 10px 0px;
  margin-bottom: 20px;
  color: #333;
  background-color: white;
}

.unilan-leaderboard-title {
  font-weight: 100;
  text-transform: uppercase;
  border-left: 10px solid #0488d3;
  border-top: 10px solid #0488d3;
  padding: 10px 0px 10px 15px;
  margin-bottom: 20px;
}

.unilan-leaderboard-first {
  line-height: 4rem;
  font-size: 1.6rem;
  background-color: #0488d3;
  color: whitesmoke;
}

/* Dashboard Style */
/* unilan Alert Box */
.unilan-alert {
  width: 500px;
  background-color: #f6f6f8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 8px solid #333;
  padding: 20px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  right: -500px;
  z-index: 2000;
  animation: slide 1s forwards;
  animation-delay: 2s;
  transition: 1s;
}

@media(max-width:576px){
  .unilan-alert {
    margin-bottom: 0px;
    border: none;
    border-top: 8px solid #333;
    width: 100%;
  }
}

.unilan-alert .alert-text {
  border-left: 2px solid #333;
}

.unilan-alert .alert-button {
  color: #fff;
  padding: 5px 5px 5px 5px;
  background-color: #333333;
  border-color: #323232;
}

.unilan-alert .alert-button:hover {
  color: whitesmoke;
  background-color: #444444;
  border-color: #333333;
}

.unilan-alert .alert-button:focus, .unilan-alert .alert-button.focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 51, 51, 0.204);
}

.unilan-alert-success {
  border-color: #28a745;
}

.unilan-alert-danger {
  border-color: #dc3545;
}

.unilan-alert-secondary {
  border-color: #545b62;
}

.unilan-alert-primary {
  border-color: #007bff;
}

.unilan-alert-warning {
  border-color: #d39e00;
}

.unilan-alert-info {
  border-color: #117a8b;
}

@keyframes slide {
  100% { right: 0; }
}