<div class="unilan-base" id="unilan-leaderboard">
    <div class="container-fluid h-100" style="background-color: #333;">
        <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
                <h1 class="display-1 text-center" style="color: whitesmoke; font-weight: 700; text-transform: uppercase;">{{ 'edition.showing.stats.title.no_stats'|trans({}, 'messages') }}</h1>
                <h3>{{ 'edition.showing.stats.sub_title.no_stats'|trans({}, 'messages') }}</h3>
            </div>
        </div>
    </div>
</div>