<div class="unilan-homepage-header">
    <nav class="navbar navbar-expand-lg navbar-custom bg-transparent">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('assets/img/UniLan_WhiteLogo.png') }}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link unilan-link" href="#" onclick="openPage(event, 'unilan-homepage')"{% if focus is defined and focus == 'homepage' %} id="defaultOpen"{% endif %}>{{ 'topbar.item.homepage'|trans({}, 'messages') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link unilan-link" href="#" onclick="openPage(event, 'unilan-tournament')"{% if focus is defined and focus == 'tournament' %} id="defaultOpen"{% endif %}>{{ 'topbar.item.tournament'|trans({}, 'messages') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link unilan-link" href="#" onclick="openPage(event, 'unilan-leaderboard')"{% if focus is defined and focus == 'leaderboard' %} id="defaultOpen"{% endif %}>{{ 'topbar.item.leaderboard'|trans({}, 'messages') }}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>